body {
    background: url("/logo.png");
    font-family: "Comme";
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
}
button {
    padding: 15px;
    font-family: "Comme";
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}
button:hover {
    background: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.left-box {
    width: 70%;
    margin-top: 55px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.at-home {
    display: none;
}
.home {
    display: inline-block;
}
.at-info {
    display: none;
}
.info {
    display: inline-block;
}
.at-html {
    display: none;
}
.html {
    display: inline-block;
}
.at-css {
    display: none;
}
.css {
    display: inline-block;
}
